* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "맑은 고딕" , "돋움";
    font-size: 12px;
    color: #444444;
    background-color: #f2f0f0;
}
ul {
    list-style-type: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}
.clear {
    clear: both;
}