* {
    margin: 0px;
    padding: 0px;
    font-family: "돋움";
    font-size: 12px;
    color: #444;
    list-style-type: none;
}
#login_title {
    width: 585px;
    padding: 10px;
    margin: 50px;
    font-size: 20px;
    border: 5px solid #e6e2d7 ;
}
#login {
    width: 610px;
    height: 283px;
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid #ccc;
    border-radius: 25px;
}
#member_login {
    position: absolute;
    top: 185px;
    left: 100px;
}
#key {
    position: absolute;
    top: 243px;
    left: 137px;
}
#id_pass {
    position: absolute;
    top: 265px;
    left: 320px;
}
#id_inputbox {
    width: 120px;
    height: 15pt; 
    border: 1.5px solid #ccc;
    margin-top: 1.5px;
    margin-bottom: 4px;
}
#pass_inputbox {
    width: 120px; 
    height: 15pt;
    border: 1.5px solid #ccc; 
    margin-left: 2px;
}
#login_btn {
    position: absolute;
    top: 265px;
    left: 500px;
}
#auto_login {
    position: absolute;
    top: 340px;
    left: 341px;
}
#join_find {    
    position: absolute;
    top: 383px;
    left: 320px;
}
#join_find_li {
    list-style-type: disc; 
    margin-left: 15px;
    margin-bottom: 4px;
}